<vr-list name="Open Accont {{account.accountNumber}}">
  <div class="actions" fxFlexAlign="center">
    <button type="button" mat-raised-button color="primary" (click)="onPreviousStep()">
      <mat-icon>navigate_before</mat-icon> Back
    </button>
    <button type="button" mat-raised-button color="primary" (click)="onNextStep()">
      Next <mat-icon>navigate_next</mat-icon>
    </button>
  </div>

  <div class="container">
    <div class="account" fxLayout="row">
      <div class="card alternative" fxLayout="column" fxLayoutGap="16px" fxLayoutGap.gt-md="24px" fxFlex>
        
        <form [formGroup]="schedules_form" novalidate>
          <div class="container" fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="24px" fxLayoutGap.xs="10">
            <div *ngFor="let scheduleControl of schedules">
              <vr-select-schedule placeholder="{{scheduleControl.scheduleType.labelName}}" formControlName="{{scheduleControl.scheduleType.propertyName}}"></vr-select-schedule>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</vr-list>