@import "../../../../styles/_var.scss";

.datatable {

  @include responsivePadding();

  .container {

    .content {
      padding-top: 16px;
      @include responsivePadding();

      .source {
        @include responsivePadding(left, true);
        @include responsivePadding(right, true);
        margin-bottom: 12px;
      }
    }
  }
}

.mat-column-amount {
  display: flex;
  justify-content: flex-end;
  }

.mat-column-balance {
  display: flex;
  justify-content: flex-end;
  }

.mat-column-hasFixedValue {
  display: flex;
  justify-content: flex-end;
  }