<vr-list name="Open Accont {{account.accountNumber}}">
  <div class="actions" fxFlexAlign="center">
    <button type="button" mat-raised-button color="primary" (click)="onPreviousStep($event)">
      <mat-icon>navigate_before</mat-icon> Back
    </button>
    <!-- <button type="button" mat-raised-button color="primary" (click)="onCalculate($event)">
        <mat-icon>loop</mat-icon> Calculate
      </button> -->
    <button type="button" mat-raised-button color="primary" (click)="onSave($event)">
      Save
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>

  <div class="container">
    <div class="account" fxLayout="row">
      <div class="card alternative" fxLayout="column" fxLayoutGap="16px" fxLayoutGap.gt-md="24px" fxFlex>

        <vr-list name="Instalments">
          <div class="actions" fxFlexAlign="center">
          </div>

          <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="date" matSortDisableClear matSortDirection="asc">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <ng-container cdkColumnDef="date">
              <mat-header-cell *cdkHeaderCellDef> Date </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.date}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="amount">
              <mat-header-cell *cdkHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.amount | currency }} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="hasFixedValue">
              <mat-header-cell *cdkHeaderCellDef> Fixed </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> 
                  <mat-checkbox color="primary"  [checked]="row.hasFixedValue" disabled (click)="$event.stopPropagation()"></mat-checkbox>  
              </mat-cell>           
            </ng-container>

            <!-- actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell class="actions-cell" *matCellDef="let row">
                <button type="button" mat-icon-button (click)="update(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <mat-paginator [length]="dataSource.data.length" [pageSize]="10">
          </mat-paginator>
        </vr-list>
      </div>
    </div>
  </div>
</vr-list>