package com.transactrules.accounts.runtime;

import com.transactrules.accounts.configuration.AccountType;
import com.transactrules.accounts.configuration.TransactionType;

import java.math.BigDecimal;
import java.time.LocalDate;

public class {{name}} extends Account {

{{#positionTypes}}
    private Position _{{name}};
{{/positionTypes}}

{{#dateTypes}}
    private DateValue _{{name}};
{{/dateTypes}}

{{#amountTypes}}
    private AmountValue _{{name}};
{{/amountTypes}}

{{#optionTypes}}
    private OptionValue _{{name}};
{{/optionTypes}}

{{#scheduleTypes}}
    private Schedule _{{name}};
{{/scheduleTypes}}

{{#positionTypes}}
    public BigDecimal {{name}}() {
        return _{{name}}.getAmount();
    }
{{/positionTypes}}

{{#dateTypes}}
    public LocalDate {{name}}(){
        return _{{name}}.getDate();
    }
{{/dateTypes}}

{{#amountTypes}}
    public BigDecimal {{name}}(){
        return _{{name}}.getAmount();
    }
{{/amountTypes}}

{{#optionTypes}}
    public String {{name}}(){
        return _{{name}}.getValue();
    }
{{/optionTypes}}

{{#scheduleTypes}}
    public Schedule {{name}}(){
        return _{{name}};
    }
{{/scheduleTypes}}

    @Override
    public void initialize(AccountType accountType) {

        super.initialize(accountType);

        //initialize dates

    {{#dateTypes}}
        _{{name}}= this.getDates().get("{{name}}");
    {{/dateTypes}}

        //initialize positions

    {{#positionTypes}}
        _{{name}}= this.getPositions().get("{{name}}");
    {{/positionTypes}}

        //initialize amounts

    {{#amountTypes}}
        _{{name}}= this.getAmounts().get("{{name}}");
    {{/amountTypes}}

        //initialize options

    {{#optionTypes}}
        _{{name}}= this.getOptions().get("{{name}}");
        _{{name}}.setValues({{optionListExpression}});
    {{/optionTypes}}

        //initialize schedules

    {{#scheduleTypes}}
        Schedule _{{name}} = this.getSchedules().get("{{name}}");
        _{{name}}.setBusinessDayCalculator(this.businessDayCalculator);
    {{#isCalculated}}
        Set{{name}}CalculatedProperties(_{{name}});
    {{/isCalculated}}
    {{^isCalculated}}
        Set{{name}}DefaultProperties(_{{name}});
    {{/isCalculated}}

    {{/scheduleTypes}}
    }

{{#scheduleTypes}}
{{#isCalculated}}
    public void Set{{name}}CalculatedProperties(Schedule schedule){
    }
{{/isCalculated}}

{{^isCalculated}}
    public void Set{{name}}DefaultProperties(Schedule schedule){
    }
{{/isCalculated}}
{{/scheduleTypes}}

    @Override
    public void processTransaction(TransactionType transactionType, BigDecimal amount) {
        super.processTransaction(transactionType,amount);
    }

    @Override
    public void startOfDay() {

    }

    @Override
    public void endOfOfDay() {

    }

    @Override
    public void onDataChanged() {

    }

    @Override
    public void calculateInstaments() {

    }

    @Override
    public String generatedAt(){
        return "{{#currentTimestamp}}generate{{/currentTimestamp}}";
    }
}
