@import "../../../../styles/_var.scss";

.account {
    @include responsivePadding();
  }

.input-right-align {
    text-align: right;
}

input.input-right-align::-webkit-outer-spin-button,
input.input-right-align::-webkit-inner-spin-button {
    display: none;
}

input.input-right-align {
    -moz-appearance: textfield;
}